<%= if @stub_url do %>
	<div class="alert alert-info" role="alert">
		<p>
			Access the url:  
			<a href="<%= stub_url_url(@conn, :show, @stub_url.path) %>">
				<%= stub_url_url(@conn, :show, @stub_url.path) %>
			</a> 
		</p>
		<p>
		Edit the url: 
			<a href="<%= stub_url_url(@conn, :edit, @stub_url.path) %>">
				<%= stub_url_url(@conn, :edit, @stub_url.path) %>
			</a> 
		</p>
	</div>
<%= end %>