<%= render "access_info.html", conn: @conn,
							   stub_url: @previous_stub_url %>

<h3>New url</h3>

<%= render "form.html", changeset: @changeset, conn: @conn,
						action_label: "Create",
                        action: stub_url_path(@conn, :create) %>