<h2>Show stub url</h2>

<ul>

  <li>
    <strong>Path:</strong>
    <%= @stub_url.path %>
  </li>

  <li>
    <strong>Response status:</strong>
    <%= @stub_url.response_status %>
  </li>

  <li>
    <strong>Response body:</strong>
    <%= @stub_url.response_body %>
  </li>

</ul>

<%= link "Edit", to: stub_url_path(@conn, :edit, @stub_url) %>
<%= link "Back", to: stub_url_path(@conn, :index) %>
