<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StubOnWeb</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">StubOnWeb (Beta)</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="<%= stub_url_url(@conn, :new) %>">Add New</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="create">
            <div class="btn-group">
              <a href="/new/json" class="btn btn-default">JSON</a>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/new/xml">XML</a></li>
                <li><a href="/new/html">HTML</a></li>
              </ul>
            </div>
          </form>
          <form class="navbar-form navbar-left stub-url-action-form" role="search">
            <div class="form-group">
              <input id="stub-url-search" type="text" class="form-control" placeholder="Enter existing stub url or path" required>
            </div>
            <button type="submit" name="stub-url-action" value="calls" class="btn btn-default">Show Calls</button>
            <button type="submit" name="stub-url-action" value="edit" class="btn btn-default">Edit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a target="_new" href="https://github.com/endeepak/stub_on_web">Github</a></li>
          </ul>
        </div>
      </div>
    </nav>      
    <div id="main-content" class="container" role="main">
      <p class="alert alert-success" role="alert"><%= get_flash(@conn, :success) %></p>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <footer class="footer">
      Created by <a href="https://github.com/endeepak" target="_blank">endeepak</a>
    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
